/*---- Reset ----*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #fefefe;
  background-image: linear-gradient(
    141deg,
    #9fb8ad 0%,
    #1fc8db 51%,
    #2cb5e8 75%
  );
  min-height: 100%;
  margin: 0 auto;
}

footer {
  width: 30vw;
  margin: 0 auto;
  margin-top: 3vh;
  border: 4px solid greenyellow;
  border-radius: 5px;
  text-align: center;
}

h2 {
  color: #1460aa;
}

/*shared header*/

.page-header {
  min-height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: silver;
}

.page-nav-header {
  background-color: silver;
  padding: 10px 16px 16px;
  display: none;
}

.page-nav-header__link {
  color: red;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
}

main {
  margin-top: 60px;
}

.page-nav-header__link--active {
}

/*whatILerned Page*/

.whatILearned-article {
}

.whatILearned-article__title {
}

.whatILearned-article-week {
}

.whatILearned-article-week__title {
}

.whatILearned-article-week__list {
}

.whatILearned-article-week__list-item-title {
}

.whatILearned-article-week__list-item-description {
}

/*learningLog Page*/

.learningLog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 6vh 1fr 1fr 1fr;
  grid-gap: 12px;
  padding: 0 12px 0 12px;
  margin-top: 2vh;
  max-width: 90%;
  border: 3px solid black;
  border-radius: 5px;
  border-color: blueviolet;
  box-shadow: 5px 10px 30px black;
}

.learningLog__title {
  text-align: center;
  grid-column: 1 / 4;
  grid-row: 1;
}

.learningLog-week {
  border: 3px solid orchid;
  border-radius: 16px;
}

.header-image {
  margin: 10px;
  position: relative;
  float: right;
  max-height: 40px;
  max-width: 40px;
}

@media (min-width: 768px) {
  .page-nav-header {
    position: static;
    max-width: 100%;
    background-color: grey;
    border: solid;
    padding: 1vh;
    border-radius: 10px;
    display: flex;
    flex-grow: 2;
  }

  .page-nav-header__link {
    color: white;
    margin: 10px;
    text-decoration: none;
    padding: 0 20px 0 20px;
  }

  .page-nav-header__link--active {
    border: 3px solid plum;
    border-top: none;
    border-bottom: none;
    border-radius: 10px;
    color: plum;
  }

  .header-image {
    margin: 2vh;
    position: relative;
    float: right;
    max-height: 15vh;
    max-width: 15vh;
  }
  
}
